<div class="container">
    <div class="row">
        <div class="col-sm-5" style="margin-top: 25px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contas cadastradas</h3>
                </div>
                <div class="panel-body">
                    <h3>Conta 1: Paulo Roberto Falcão</h3>
                    <p>AG: 1234</p>
                    <p>CC: 12345-6</p>
                    <p>Senha: 123456</p>

                    <h3>Conta 2: Artur Antunes Coimbra</h3>
                    <p>AG: 1234</p>
                    <p>CC: 54321-6</p>
                    <p>Senha: 123456</p>

                </div>
            </div>
        </div>
    </div>
</div>