<nav class="navbar navbar-default navbar-fixed-top  content-header" ng-controller="ClienteCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span> Olá,</span> <span ng-bind="cliente.nome"></span>
                <p>Cliente desde {{conta.dataAbertura | date}}</p>

            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <div class="dropdown ">
                    <button class="btn btn-default dropdown-toggle menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span>Menu</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:void(0);" ng-click="clickToOpenCliente();">Dados pessoais</a></li>
                        <li><a href="javascript:void(0);" ng-click="logout()">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container" ng-controller="ContaCtrl" ng-init="listarTransacoes()">
    <div class="row">
        <div class="col-md-3" id="leftCol">

            <div class="well">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href="javascript:void(0);" ng-click="clickToOpenSaque()">Saque</a></li>
                    <li><a href="javascript:void(0);" ng-click="clickToOpenDeposito()">Deposito</a></li>
                    <li><a href="javascript:void(0);" ng-click="clickToOpenTransferencia()">Transferêcia</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 jumbotron content-history">

            <h2 id="sec0">Histórico de transações</h2>
            <div class="divider"></div>
            <div class="history">
                <div class="col-sm-12">
                    <div class="transacoes" transacoes></div>
                </div>
                <div class="divider"></div>
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <div class="content-result">
                        <p style="float: right">
                            <span class="title">Saldo: </span>
                            <span ng-if="conta.saldo <= 0" style="color: red;" ng-bind="conta.saldo | currency"></span>
                            <span ng-if="conta.saldo > 0" ng-bind="conta.saldo | currency"></span>
                        </p>
                        <p style="float: right"> <span class="title">Limite: </span><span ng-bind="limite | currency"></span></p>
                        <p style="float: right"> <span class="title">Saldo Total: </span><span ng-bind="conta.saldo + limite | currency"></span></p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>